.input-field {
    -fx-text-fill: white;
    -fx-background-color: #40444b;
    -fx-background-radius: 8px;
    -fx-border-color: #272a2e;
    -fx-border-width: 1;
    -fx-border-radius: 3px;
}

.input-field:hover {
    -fx-text-fill: white;
    -fx-background-color: #40444b;
    -fx-background-radius: 8px;
    -fx-border-color: #222428;
    -fx-border-width: 1;
    -fx-border-radius: 3px;
}

.input-field:focused {
    -fx-text-fill: white;
    -fx-background-color: #40444b;
    -fx-background-radius: 8px;
    -fx-border-color: #00aff4;
    -fx-border-width: 1;
    -fx-border-radius: 3px;
}

.combo-box-base {
    -fx-background-color: #40444b;
    -fx-background-radius: 8px;
    -fx-border-color: #272a2e;
    -fx-border-width: 1;
    -fx-border-radius: 3px;
    -fx-cursor: hand;
}

.combo-box-base .cell {
    -fx-text-fill: white;
    -fx-background-color: #40444b;
    -fx-cursor: hand;
}

.combo-box-base .cell:hover {
    -fx-text-fill: white;
    -fx-background-color: #222428;
}

.combo-box-base:hover {
    -fx-background-color: #40444b;
    -fx-background-radius: 8px;
    -fx-border-color: #222428;
    -fx-border-width: 1;
    -fx-border-radius: 3px;
}

.combo-box-base-missing {
    -fx-background-color: #40444b;
    -fx-background-radius: 8px;
    -fx-border-color: #ed4245;
    -fx-border-width: 1;
    -fx-border-radius: 3px;
    -fx-cursor: hand;
}